@model WebStore.ViewModels.EmployeeView
@{
    ViewData["Title"] = "Прием нового сотрудника";
}
    <h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEmployee">
            <partial name="Partial/_EmployeeForm"/>
            <div class="form-group">
                <input type="submit" value="Принять" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetEmployees">Назад к списку сотрудников</a>
</div>

